header{
    padding: 10px 0;
}
header .container{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: flex-end;
    /* justify-content: space-between; */
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 10px;
}
header .logo{
    width: 10%;
}
header .active{
    border-bottom: 2px solid var(--main-color);
}
header .notActive{
    border-bottom: 2px solid var(--white);
}
header .active, header .notActive{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
nav{
    width: 69%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav a{
    color: var(--black);
    text-decoration: none;
    font-size: 1.3rem;
    padding-bottom: 10px;
}
header button{
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    width: 225px;
    height: 48px;
    font-size: 1.3rem;
    font-family: var(--Gotham);
}
header .right{
    display: flex;
    align-items: center;
    gap: 15px;
}
header .burger, #small-screen{
    display: none;
}
header .loggo a{
    display: block;
    width: 100%;
}
header .loggo a img{
    width: 60%;
}
@media(max-width: 700px){
    header{
        position: relative;
        padding: 0;
    }
    header .container{
        padding-bottom: 0px;
    }
    header button{
        background-color: transparent;
        color: var(--white);
        border: none;
        width: 100%;
        height: 48px;
    }
    header .logo{
        width: 30%;
    }
    nav,#big-sign{
        display: none;
    }   
    header .burger{
        display: block;
        width: 50px;
        height: 50px;
    }
    #small-screen{
        display: block;
        background-color: var(--white);
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 20px;
        padding-top: 40%;
        height: 100vh;
        width: 100vw;
        z-index: 5;
        transition: 0.5s;
    }
    .borrid{
        transform: translateX(-110%);
    }
    header #toggle{
        /* filter: invert(1); */
        position: absolute;
        z-index: 10;
    }
    #small-screen a{
        color: var(--black);
        text-decoration: none;
        display: inline-block;
        margin-bottom: 40px;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--black);
        width: 100%;
    }
    #small-screen button{
        font-size: 1.5rem;
        width: 100px;
        height: 30px;
        color: var(--black);
        width: 100%;
        justify-content: flex-start;
        text-align: left;
    }
}