.content-item {
    padding:30px 0;
	background-color:var(--white);
    font-family: var(--Gotham);
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight: 600;
	font-size: 1.5rem;
	color:var(--black);
    margin-bottom: 10px;
}
.content-item h3 span{
    color: var(--main-color);
}
#comments .media {
	border-top:1px dashed #DDDDDD;
	padding: 20px;
	margin: 10px;
    padding-bottom: 50px;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color: var(--black);
	font-size: 1.1rem;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color: var(--main-color);
	font-size:15px;
	margin-right:10px;
}

#comments .options{
	display: flex;
	gap: 30px;
}
#comments .orange,#comments .NOTHING{
	color: var(--main-color);
}
#comments .NOTHING{
	margin-top: 50px;
	font-size: 3rem;
}